<script type="text/x-handlebars-template" id="fail-list">
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            {{#each failed as |f| }}
                <li><a href="/failed/{{f.name}}" data-toggle="tab">{{f.name}} ({{f.count}})</a></li>
            {{/each}}
        </ul>
    </div>

    <div id="alerts" style="margin-top: 40px"></div>

    {{#if failed}}
        <div class="page-header">
            <h1>Failed Jobs <small>Failure is a Part of Success!</small></h1>
        </div>
    {{else}}
        <div class="page-header">
            <h1>No Failed Jobs <small>You Have Done Well!</small></h1>
        </div>
    {{/if}}

    <div class="tab-content">
        {{#each failed as |f|}}
            <div class="tab-pane active" id="{{f.name}}">
                <div class="page-header">
                    <div class="row">
                        <div class="span8">
                            <h2>
                                <a href="/failed/{{f.name}}">{{f.name}}</a> | {{f.count}} <small>Jobs</small>
                            </h2>
                        </div>
                        <div class="span4">
                            <div class="btn-group" style="float:right; margin-top: 5px">
                                <button class="btn btn-danger" title="cancel" onclick="if(confirm('Cancel?')) { QlessActions.cancelAll('{{f.name}}'); }"><i class="icon-remove"></i></button>
                                <button class="btn btn-success" title="retry all" onclick="QlessActions.retryAll('{{f.name}}');"><i class="icon-repeat"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div id="failed-jobs" class="span12">
            {{#each jobs as |job|}}
                {{> JOB}}
            {{/each}}
        </div>
    </div>
</script>