<script type="text/x-handlebars-template" id="JOB-partial">
    <div class="row" id="job-{{jid}}">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                        <a href="/jobs/{{jid}}" title="{{jid}}">{{shorten jid 10}}</a> | <span title="{{klass}}">{{shorten klass 50}}</span>
                    </h2>
                </div>
                <div class="span3">
                    <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                        <strong>
                            | {{state}} / <a href="/queues/{{queue}}" title="{{queue}}">{{queue}}</a>
                            {{#if worker}}
                                {{worker}}
                            {{/if}}
                        </strong>
                    </h2>
                </div>
                <div class="span3">
                    <div style="float:right; margin-top: 4px">
                        <div class="btn-group">
                            {{#if state::complete}}{{else}}
                                <button title="delete" class="btn btn-danger" onclick="if(confirm('Delete?')) { QlessActions.cancel('{{jid}}', fade); }"><i class="icon-remove"></i></button>
                            {{/if}}
                            {{#if state::running}}
                                <button title="Time out job" class="btn btn-danger" onclick="if(confirm('Time out job?')) { QlessActions.timeout('{{jid}}') }"><i class="icon-time"></i></button>
                            {{/if}}
                            <button title="track" class="btn {{#if tracked}}active{{/if}}" data-toggle="button" onclick="$(this).hasClass('active') ? QlessActions.untrack('{{jid}}', fade) : QlessActions.track('{{jid}}', [], fade)"><i class="icon-flag"></i></button>
                            {{#if state::failed}}
                                <button title="requeue" class="btn btn-success" onclick="QlessActions.retry('{{jid}}', fade)"><i class="icon-repeat"></i></button>
                            {{/if}}
                            {{#if state::complete}}
                                <button title="requeue" class="btn btn-success" onclick="QlessActions.retry('{{jid}}', fade)"><i class="icon-repeat"></i></button>
                            {{/if}}
                            <button title="move" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu">
                                {{#each @root.queues as |queue|}}
                                    <a href="#" onclick="QlessActions.move('{{jid}}', '{{queue.name}}', fade)">{{queue.name}}</a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div style="float:right; margin-right: 12px; margin-top: 4px">
                        <div class="btn-group">
                            <input class="span1 priority left" type="text" placeholder="Pri {{priority}}" onchange="QlessActions.priority('{{jid}}', $(this).val())"/>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <a href="#" onclick="QlessActions.priority('{{jid}}',  25)">high</a>
                                <a href="#" onclick="QlessActions.priority('{{jid}}',  0 )">normal</a>
                                <a href="#" onclick="QlessActions.priority('{{jid}}', -25)">low</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{#if dependencies.length}}
                <div class="row">
                    <div class="span12" style="margin-bottom: 10px">
                        <div style="float:left; margin-right: 10px"><h3>Dependencies:</h3></div>
                        {{#each dependencies as |djob|}}
                            <div class="btn-group" style="float:left; margin-right: 10px" id="{{jid}}-dependson-{{djob}}">
                                <button class="btn" onclick="window.open('/jobs/{{djob}}', '_blank')" title="{{djob}}">{{djo.jid}}</button>
                                <button class="btn dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('{{jid}}', '{{djob}}', function() { $('{{jid}}-dependson-{{djob}}').remove()} ); })">
                                    <i class="icon-remove"></i>
                                </button>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            {{#if dependents.length}}
            <div class="row">
                <div class="span12" style="margin-bottom: 10px">
                    <div style="float:left; margin-right: 10px"><h3>Dependents:</h3></div>
                    {{#each dependents as |djob|}}
                    <div class="btn-group" style="float:left; margin-right: 10px" id="{{jid}}-dependents-{{djob}}">
                        <button class="btn" onclick="window.open('/jobs/{{djob}}', '_blank')" title="{{djob}}">{{djob}}</button>
                        <button class="btn dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('{{djob}}', '{{jid}}', function() { $('{{jid}}-dependents-{{djob}}').remove()} ); })">
                            <i class="icon-remove"></i>
                        </button>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            <div class="row">
                <div class="span12 tags" style="margin-bottom: 3px;">
                    {{#each tags as |tag|}}
                        <div class="btn-group" style="float:left">
                            <input class="span1 left" type="text" disabled value="{{tag}}" />
                            <button class="btn" onclick="QlessActions.untag('{{../jid}}', '{{tag}}')">
                                <i class="icon-remove"></i>
                            </button>
                        </div>
                    {{/each}}

                    <!-- One for adding new tags -->
                    <div class="btn-group" style="float:left">
                        <input class="span1 add-tag left" type="text" placeholder="Add Tag" onchange="tag('{{jid}}', $(this).val())"/>
                        <button class="btn" onclick="QlessActions.tag('{{jid}}', $(this).prev().val())">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <h3><small>Data</small></h3>
                    <pre style="overflow-y:scroll; height: 200px">{{{json data}}}</pre>
                </div>
                <div class="span6">
                    <h3><small>History</small></h3>
                    <div style="overflow-y:scroll; height: 200px">
                        {{#eachReverse history 'h'}}
                            <code><strong>{{h.what}}</strong> at {{relTimeStamp h.when}}
                                {{#if h.what::put}} in queue <strong>{{h.q}}</strong>{{/if}}
                                {{#if h.what::popped}} by <strong>{{h.worker}}</strong>{{/if}}
                                {{#if h.what::failed}}
                                    {{#if h.worker}} by <strong>{{h.worker}}</strong> in group <strong>{{h.group}}</strong>
                                    {{else}} in group <strong>{{h.group}}</strong>{{/if}}
                                {{/if}}
                            </code>
                        {{/eachReverse}}
                    </div>
                </div>
            </div>

            {{#if failure.message}}
                    <div class="row">
                        <div class="span12">
                            <div class="alert alert-error">
                                <p>In <strong>{{queue}}</strong> on <strong>{{failure.worker}}</strong>
                                    about {{relTimeStamp failure.when}}
                                </p>
                                <pre>{{failure.message}}</pre>
                            </div>
                        </div>
                    </div>
            {{/if}}
            <hr/>
        </div>
    </div>
</script>