<script id="queue-status" type="text/x-handlebars-template">
    <div class="row">
        <div class="span8">
            <h2><a href="/queues/{{name}}">{{name}}</a> |
                {{running}} /
                {{waiting}} /
                {{scheduled}} /
                {{stalled}} /
                {{depends}} <small>(running / waiting / scheduled / stalled / depends)</small>
            </h2>
        </div>

        <div class="span4">
            <div style="float:right">
                <h2>
                    0 /
                    0 /
                    0 <small>(failed / failures / retries)</small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="span6">
            <div class="well">
                <div class="row">
                    <div class="span12">
                        <h3>Waiting</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h3>
                            {{stats.wait.count}} /
                            {{stats.wait.mean}} /
                            {{stats.wait.std}}
                            <small>Total / Mean / Std. Deviation</small>
                        </h3>
                    </div>
                </div>
                <div id="wait-chart" class="queue-stats-time-histogram-wait" style="height: 500px"></div>
            </div>
        </div>

        <div class="span6">
            <div class="well">
                <div class="row">
                    <div class="span12">
                        <h3>Running</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h3>
                            {{stats.run.count}} /
                            {{stats.run.mean}} /
                            {{stats.run.std}}
                            <small>Total / Mean / Std. Deviation</small>
                        </h3>
                    </div>
                </div>

                <div id="run-chart" class="queue-stats-time-histogram-run" style="height: 500px"></div>
            </div>
        </div>
    </div>

</script>
