<script id="worker-view" type="text/html">
    <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
            <li><a href="#Running">Running</a></li>
            <li><a href="#Stalled">Stalled</a></li>
        </ul>
    </div>

    {{#if  worker.jobs.length}}
    <div class="page-header">
        <h1>{{worker.name}} <small>Running Jobs</small></h1>
    </div>
    {{/if}}

    {{#each worker.jobs as |job|}}
    <div class="row" id="job-{{job.jid}}">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                        <a href="/jobs/{{job.jid}}" title="{{job.jid}}">{{shorten job.jid 10}}</a> | <span title="{{job.klass}}">{{shorten job.klass 50}}</span>
                    </h2>
                </div>
                <div class="span3">
                    <h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">
                        <strong>
                            | {{job.state}} / <a href="/queues/{{job.queue}}" title="{{job.queue}}">{{job.queue}}</a>
                            {{#if job.worker}}
                                {{job.worker}}
                            {{/if}}
                        </strong>
                    </h2>
                </div>
                <div class="span3">
                    <div style="float:right; margin-top: 4px">
                        <div class="btn-group">
                            {{#if job.state::complete}}{{else}}
                                <button title="delete" class="btn btn-danger" onclick="confirmation(this, 'Delete?', function() { cancel('{{job.jid}}', fade) })"><i class="icon-remove"></i></button>
                            {{/if}}
                            {{#if job.state::running}}
                                <button title="Time out job" class="btn btn-danger" onclick="confirmation(this, 'Time out job?', function() { timeout('{{job.jid}}') })"><i class="icon-time"></i></button>
                            {{/if}}
                            <button title="track" class="btn {{#if job.tracked::active}}active{{/if}}" data-toggle="button" onclick="$(this).hasClass('active') ? untrack('{{job.jid}}', fade) : track('{{job.jid}}', [], fade)"><i class="icon-flag"></i></button>
                            {{#if state::failed}}
                                <button title="requeue" class="btn btn-success" onclick="retry('<%= job.jid %>', fade)"><i class="icon-repeat"></i></button>
                            {{/if}}
                            <button title="move" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu">
                                {{#each queues as |queue|}}
                                    <a href="#" onclick="move('{{job.jid}}', '{{queue.name}}', fade)">{{queue.name}}</a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div style="float:right; margin-right: 12px; margin-top: 4px">
                        <div class="btn-group">
                            <input class="span1 priority left" type="text" placeholder="Pri {{job.priority}}" onchange="priority('{{job.jid}}', $(this).val())"/>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <a href="#" onclick="priority('{{job.jid}}',  25)">high</a>
                                <a href="#" onclick="priority('{{job.jid}}',  0 )">normal</a>
                                <a href="#" onclick="priority('{{job.jid}}', -25)">low</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{#if dependencies.length}}
            <div class="row">
                <div class="span12" style="margin-bottom: 10px">
                    <div style="float:left; margin-right: 10px"><h3>Dependencies:</h3></div>
                    {{#each dependencies as |djob|}}
                        <div class="btn-group" style="float:left; margin-right: 10px" id="{{job.jid}}-dependson-{{djob}}">
                            <button class="btn" onclick="window.open('/jobs/{{djob}}', '_blank')" title="{{djob}}">{{djo.jid}}</button>
                            <button class="btn dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('{{job.jid}}', '{{djob}}', function() { $('{{job.jid}}-dependson-{{djob}}').remove()} ); })">
                            <i class="icon-remove"></i>
                            </button>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            
        {{#if job.dependents}}
            <div class="row">
                <div class="span12" style="margin-bottom: 10px">
                    <div style="float:left; margin-right: 10px"><h3>Dependents:</h3></div>
                    {{#each job.dependents.each as |djob|}}
                        <div class="btn-group" style="float:left; margin-right: 10px" id="{{job.jid}}-dependents-{{djob}}">
                        <button class="btn" onclick="window.open('/jobs/{{djob}}', '_blank')" title="{{djob}}">{{djob}}</button>
                        <button class="btn dropdown-toggle" onclick="confirmation(this, 'Undepend?', function() { undepend('{{djob}}', '{{job.jid}}', function() { $('{{job.jid}}-dependents-{{djob}}').remove()} ); })">
                            <i class="icon-remove"></i>
                        </button>
                    {{/each}} %>
                </div>
            </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="span12 tags" style="margin-bottom: 3px;">
            {{#each job.tags as |tag|}}
            <div class="btn-group" style="float:left">
                <span class="tag">{{tag}}</span>
                <button class="btn" onclick="untag('{{job.jid}}', '{{tag}}')">
                    <i class="icon-remove"></i>
                </button>
            </div>
            {{/each}}

            <!-- One for adding new tags -->
            <div class="btn-group" style="float:left">
                <input class="span1 add-tag left" type="text" placeholder="Add Tag" onchange="tag('{{job.jid}}', $(this).val())"/>
                <button class="btn" onclick="tag('{{job.jid}}', $(this).parent().siblings().val())">
                    <i class="icon-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <h3><small>Data</small></h3>
            <pre style="overflow-y:scroll; height: 200px">{{{json job.data}}}</pre>
        </div>
        <div class="span6">
            <h3><small>History</small></h3>
            <div style="overflow-y:scroll; height: 200px">
                {{#each job.history as |h|}}
                <code><strong>{{h.what}}</strong> at {{relTimeStamp h.when}}
                    {{#if h.what::put}} in queue <strong>{{h.q}}</strong>{{/if}}
                    {{#if h.what::popped}} by <strong>{{h.worker}}</strong>{{/if}}
                    {{#if h.what::failed}}
                        {{#if h.worker}} by <strong>{{h.worker}}</strong> in group <strong>{{h.group}}</strong>
                        {{else}} in group <strong>{{h.group}}</strong>{{/if}}
                    {{/if}}
                </code>
                {{/each}}
            </div>
        </div>
    </div>

    {{#if job.failure.length}}
        <div class="row">
            <div class="span12">
                <div class="alert alert-error">
                    <p>In <strong>{{job.queue}}</strong> on <strong>{{job.failure.worker}}</strong>
                        about {{job.failure.when}}
                    </p>
                    <pre>{{job.failure.message}}</pre>
                </div>
            </div>
        </div>
    {{/if}}
    <hr/>
    </div>
    </div>
    <!--<% else # Recurring job %>-->
    <!--<div class="row" id="job-<%= job.jid %>">-->
        <!--<div class="span12">-->
            <!--<div class="row">-->
                <!--<div class="span6">-->
                    <!--<h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">-->
                        <!--<a href="<%= u "/jobs/#{job.jid}" %>" title="<%= job.jid %>"><%= job.jid[0..8] %>...</a> | <span title="<%= job.klass_name %>"><%= job.klass_name %></span>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div class="span3">-->
                    <!--<h2 style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">-->
                        <!--<strong>-->
                            <!--| recurring / <a href="<%= u "/queues/#{CGI::escape(job.queue_name)}" %>" title="<%= job.queue_name %>"><%= job.queue_name %></a>-->
                        <!--</strong>-->
                    <!--</h2>-->
                <!--</div>-->
                <!--<div class="span3">-->
                    <!--<div style="float:right; margin-top: 4px">-->
                        <!--<div class="btn-group">-->
                            <!--<button title="delete" class="btn btn-danger" onclick="confirmation(this, 'Delete?', function() { cancel('<%= job.jid %>', fade) })"><i class="icon-remove"></i></button>-->
                            <!--<button title="move" class="btn dropdown-toggle btn-success" data-toggle="dropdown">-->
                                <!--<i class="caret"></i>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<% queues.each do |queue| %>-->
                                <!--<a href="#" onclick="move('<%= job.jid %>', '<%= queue['name'] %>', fade)"><%= queue['name'] %></a>-->
                                <!--<% end %>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div style="float:right; margin-right: 12px; margin-top: 4px">-->
                        <!--<div class="btn-group">-->
                            <!--<input class="span1 priority" type="text" placeholder="Pri <%= job.priority %>" onchange="priority('<%= job.jid %>', $(this).val())"></input>-->
                            <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
                                <!--<i class="caret"></i>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<a href="#" onclick="priority('<%= job.jid %>',  25)">high</a>-->
                                <!--<a href="#" onclick="priority('<%= job.jid %>',  0 )">normal</a>-->
                                <!--<a href="#" onclick="priority('<%= job.jid %>', -25)">low</a>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="span12 tags" style="margin-bottom: 3px;">-->
                    <!--<% job.tags.each do |tag| %>-->
                    <!--<div class="btn-group" style="float:left">-->
                        <!--<span class="tag"><%= tag %></span>-->
                        <!--<button class="btn" onclick="untag('<%= job.jid %>', '<%= tag %>')">-->
                            <!--<i class="icon-remove"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<% end %>-->

                    <!--&lt;!&ndash; One for adding new tags &ndash;&gt;-->
                    <!--<div class="btn-group" style="float:left">-->
                        <!--<input class="span1 add-tag" type="text" placeholder="Add Tag" onchange="tag('<%= job.jid %>', $(this).val())"></input>-->
                        <!--<button class="btn" onclick="tag('<%= job.jid %>', $(this).parent().siblings().val())">-->
                            <!--<i class="icon-plus"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<% if not defined? brief %>-->
            <!--<div class="row">-->
                <!--<div class="span12">-->
                    <!--<h3><small>Data</small></h3>-->
                    <!--<pre style="overflow-y:scroll; height: 200px"><%= JSON.pretty_generate(job.data) %></pre>-->
                <!--</div>-->
            <!--</div>-->
            <!--<% end %>-->
            <!--<hr/>-->
        <!--</div>-->
    <!--</div>-->
    <!--<% end %>-->
    {{/each}}
  <!--<%= erb :_job, :layout => false, :locals => { :job => job, :queues => queues } %>-->
  <!--<% end %>-->
<!--<% end %>-->

<!--<% if worker['stalled'].length > 0 %>-->
  <!--<div class="page-header">-->
    <!--<h1><%= worker['name'] %> <small>Stalled Jobs</small></h1>-->
  <!--</div>-->

  <!--<% worker['stalled'].each do |job| %>-->
  <!--<%= erb :_job, :layout => false, :locals => { :job => job, :queues => queues } %>-->
  <!--<% end %>-->
<!--<% end %>-->

<!--<% if worker['stalled'].length + worker['jobs'].length == 0 %>-->
  <!--<div class="page-header">-->
    <!--<h1><%= worker['name'] %> <small>Isn't Doing Anything</small></h1>-->
    <!--</div>-->
    <!--<% end %>-->

</script>